/*
General Style
*/

* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#rightSection {
    width: 15rem;
	overflow-x:hidden;
    margin-right: 0.75rem;
    text-align: center;
    float:right;
    top:0px;
}

#marketThings, #marketUpgrades {
    overflow-y:auto;
    height: 13.5rem;
}

#leftSection {
    float: left;
}

#clickCounter, #clickCounterTitle {
    display: inline-block;
    /* text-align: center; */
}
#clickCounter {
    margin-bottom: 1rem;
}

.title {
    font-size: 1.15rem;
}
.title.medium {
    font-size: 1.5rem;
}
.title.big {
    font-size: 2.0rem;
}

/*
Market
*/

.marketSeperator {
    width: 3.5rem;
}

.thing.locked {
    display: none;
}
.thing.next {
    opacity: 0.5;
}
.thing.unlocked {
    opacity: 1;
}

.upgrade.owned {
    display: none;
}
.upgrade.unlocked {
    opacity: 1;
}
.upgrade.locked {
    opacity: 0.5;
}

/*
Info Menu
*/
#bottomBar {
    position: fixed;
    bottom: 0;
}