/*
General Style
*/

* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#rightSection {
    width: 30rem;
	overflow-x:hidden;
    margin-right: 0.75rem;
    text-align: center; 
    float:right;
    top:0px;
}

#leftSection {
    float: left;
}

#clickCounter, #clickCounterTitle {
    display: inline-block;
    text-align: center;
}
#tpsCounter {
    margin-bottom: 1rem;
}

.title {
    font-size: 1.15rem;
}
.title.medium {
    font-size: 1.5rem;
}
.title.big {
    font-size: 2.0rem;
}
.title.bold {
    font-weight: bold;
}

/*
Market
*/

.marketSeperator {
    width: 3.5rem;
}
.marketSeperator.big {
    width: 7.5rem;
}

.thing.locked {
    display: none;
}
.thing.unlocked.cantBuy {
    opacity: 0.5;
}
.thing.unlocked.canBuy {
    opacity: 1;
}

.upgrade.owned, .upgrade.locked {
    display: none;
}
.upgrade.cantBuy.unlocked {
    opacity: 0.5;
}
.upgrade.canBuy.unlocked {
    opacity: 1;
}

.product {
    display: block;
}

#marketThings, #marketUpgrades {
    width:85%;
    overflow-y:auto;
    height: 20.5rem;
    margin-left: 1rem;
    display: inline-block;
}

/*
Tabs
*/

#topBar {
    width: auto;
    display: block;
}
#menuTab {
    text-align: center;
}

.menuTitle {
    display: inline-block;
    user-select: none;
    border: solid;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.menuTitle.active {
    background-color: black;
    color: white;
    border: solid white;
}